MONGODB_USERNAME=root
MONGODB_PASSWORD=toor
MONGODB_HOST=mongodb
MONGODB_PORT=27017

SQL_HOST=mysql
SQL_PORT=3306
SQL_USERNAME=squadjs
SQL_PASSWORD=
SQL_DATABASE=squadjsci

API_URL=http://squadjs:3000

GUILD_ID=
ROLE_ID=
SEED_ROLE_ID=
ACTIVITY_ROLE_ID=

HOURS_PLAYED_WEEKS=2
HOURS_THRESHOLD=25

TIMER_DURATION=1209600

SLEEP_DURATION=180

LOG_FILE=app.log
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=5
